{% extends 'base.html' %}

{% block content %}
	
	<h2>Bienvenue sur l'application web des données du championnat de France de football !</h2>
	<h4>Ce projet Data Engineering consiste en la création d'une application Web avec Flask (framework open-source de développement web en Python), cette application permet de récupérer des données en temps réel sur le web via le scraping de données et de stocker ces données web dans une base de données avec MongoDB. Cette application web Flask permet aussi d'utiliser les données de façon optimale via la base de données MongoDB, en utilisant un moteur de recherche afin de rechercher des informations sur les clubs français de football (Ligue 1). Cette application web permet aussi de visualiser les données grâce à diverses graphiques sur des statistiques du championnat de France de football.</h4>
	<h4>Les données utilisées dans l'application sont des statistiques sur le championnat de France de football, disponible sur le web depuis la page Wikipedia intitulée "Statistiques classement du championnat de France de football". Cette page Wikipedia contient des informations sur le classement des 75 équipes ayant déjà participé au championnat de France de football depuis sa création en 1932 jusqu'à aujourd'hui. Les données comprennent des informations telles que le nom du club, le nombre de matchs joués, le nombre de victoires, de défaites et de matchs nuls, le nombre de buts marqués et encaissés, la différence de buts, le nombre de points obtenus et le nombre de fois que le club a remporté le championnat de France.</h4>
		
{% endblock %}
